* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    overflow-y: hidden;
  }
  .slider {
    font-family: sans-serif;
    scroll-snap-type: x mandatory;  
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    margin-top: 6rem;
  }
  section {
    border-right: 1px solid black;
    padding: 1rem;
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }
  h1  {
    position: absolute;
    top: 1%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
  }
  .pagination {
	display: inline-block;
	position: fixed;
	background: rgba(33, 33, 33, 0.9);
	color: #fff;
	text-align: center;
	border-radius: 13px;
	z-index: 4;
	width: 70px;
	top: 20px;
	right: 20px;
}
.gallery-row {
    max-width: inherit;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 30%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .gallery{
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
  }
  .gallery::webkit-scrollbar{
      display: none;
  }
  
  